section.third 
    .swiper.swiper-third
        .swiper-wrapper
            .swiper-slide
                .third__item 
                    img(src="./assets/imgs/pic3.jpg", alt="product").third__img
                    .third__text 1 The webbing around the cushion provides an extra 
                        | layer of support by giving a structure to the buckwheat inside. 
                        | This also doubles as an integrated handle.
            .swiper-slide
                .third__item 
                    img(src="./assets/imgs/pic3.jpg", alt="product").third__img
                    .third__text 2 The webbing around the cushion provides an extra 
                        | layer of support by giving a structure to the buckwheat inside. 
                        | This also doubles as an integrated handle.
            .swiper-slide
                .third__item 
                    img(src="./assets/imgs/pic3.jpg", alt="product").third__img
                    .third__text 3 The webbing around the cushion provides an extra 
                        | layer of support by giving a structure to the buckwheat inside. 
                        | This also doubles as an integrated handle.
            .swiper-slide
                .third__item 
                    img(src="./assets/imgs/pic3.jpg", alt="product").third__img
                    .third__text 4 The webbing around the cushion provides an extra 
                        | layer of support by giving a structure to the buckwheat inside. 
                        | This also doubles as an integrated handle.
            .swiper-slide
                .third__item 
                    img(src="./assets/imgs/pic3.jpg", alt="product").third__img
                    .third__text 5 The webbing around the cushion provides an extra 
                        | layer of support by giving a structure to the buckwheat inside. 
                        | This also doubles as an integrated handle.
            .swiper-slide
                .third__item 
                    img(src="./assets/imgs/pic3.jpg", alt="product").third__img
                    .third__text 6 The webbing around the cushion provides an extra 
                        | layer of support by giving a structure to the buckwheat inside. 
                        | This also doubles as an integrated handle.